#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.download-button:not(:disabled) {
  border-color: #646cff;
  /* glows smoothly */
  box-shadow: 0 0 10px #646cff;
  /* breathing light animation */
  animation: pulse 2s infinite;
}

.button-tooltip {
  color: #213547;
  background-color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
  padding: 2px 6px;
  transition: opacity 0.5s ease;
  font-size: 13px;
  z-index: 1000;  /* To be on top of the canvas and other possibly overlapping elements */
}

.status-text {
  margin-top: -.5em;
}

@media (prefers-color-scheme: light) {
  .button-tooltip {
    color: #ffffff;
    background-color: #213547;
    border: 1.5px solid #213547;
  }
}
